.header {
    width: calc(100% - 8rem);
    margin-left: 8rem;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 2rem;
}

.modos {
    display: flex;
    gap: 0.5rem;
    margin-right: 1.5rem;
    justify-content: center;
    align-items: center;
    button {
        width: 3rem;
        height: 3rem;
        background: transparent;
        border-radius: 0.5rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        cursor: pointer;

        &:last-child {
            background: rgba(176, 186, 195, 0.25);
            svg {
                margin-bottom: -0.35rem;
            }
        }
    }
}

/* Menu Sidebar */
nav {
    width: 7.9rem;
    height: 100vh;
    background-color: #405d49;
    border-radius: 0 1.5rem 1.5rem 0;
    transition: width 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    left: 0;
    z-index: 999;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        #essentia {
            background-color: #f0ece1;
            width: 3.7rem;
            height: 3.7rem;
            margin-top: 1.8rem;
            margin-left: 1.9rem;
            border-radius: 0.5rem;
            transition: transform 0.3s ease;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                img {
                    width: 3rem;
                    height: 2.7rem;
                    filter: drop-shadow(0 0.5rem 1rem #2e2e2e);
                    margin-left: 0.2rem;
                }
            }
        }

        li {
            list-style: none;
            display: flex;
            align-items: center;

            a {
                img {
                    width: 3rem;
                    height: 2.7rem;
                }
            }
        }
    }

    div {
        height: 22rem;
        transition: transform 0.3s ease;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        li {
            margin-left: 1.9rem;
            a {
                text-decoration: none;
                color: #f0ece1;

                i {
                    font-size: 3.5rem;
                    transition: 0.3s ease;

                    &:hover {
                        color: #6b8e4e;
                        transition: 0.3s ease;
                    }
                }

                svg {
                    width: 3.5rem;
                    height: 3.5rem;
                    transition: 0.3 ease;
                    &:hover {
                        color: #6b8e4e;
                        transition: 0.3s ease;
                    }
                }

                svg:hover {
                    color: #6b8e4e;
                }
            }
        }
    }
}

nav p {
    font-size: 20px;
    font-weight: 450;
    color: #f0ece1;
    display: none;
}

#settings {
    margin-left: 1.9rem;
    margin-bottom: 1.8rem;
    transition: all 0.3s ease;

    a {
        text-decoration: none;
        i {
            font-size: 3.5rem;
            color: #f0ece1;
        }
    }
}

nav.open {
    width: 25rem;
    transition: width 0.3s ease;

    div {
        transition: 0.3s ease;
        width: auto;
    }

    #essentia,
    #settings {
        transform: translateX(2rem);
        transition: 0.3s ease;
    }

    #settings {
        a {
            i {
                transition: 0.3s ease;

                &:hover {
                    color: #6b8e4e;
                }
            }
        }
    }

    p {
        display: inline-block;
        margin-left: 3rem;
    }
}


nav.open {
    width: 25rem;
    transition: width 0.3s ease;

    div {
        transition: 0.3s ease;
        width: auto;
    }

    #essentia,
    #settings {
        transform: translateX(2rem);
        transition: 0.3s ease;
    }

    #settings {
        a {
            i {
                transition: 0.3s ease;

                &:hover {
                    color: #6b8e4e;
                }
            }
        }
    }

    p {
        display: inline-block;
        margin-left: 3rem;
    }
}