@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --cor--sombra: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  bottom: 0;
  background-color: #f0ece1;
}

#inicio-hero-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#405d49 0%, #56764c 50%, #6b8e4e 100%);
  display: flex;
  margin-top: -7rem;
}

#texto-hero-section {
  width: 106rem;
  height: 54.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-left: 8rem;
  margin-top: 13rem;
  z-index: 2;
}

#texto-hero-section h1 {
  font-size: 10rem;
  line-height: 90%;
  color: #f0ece1;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

#texto-hero-section p {
  width: 77.8rem;
  height: 10.2rem;
  font-size: 2.5rem;
  margin-top: -6rem;
  color: #f0ece1ea;
  font-weight: 400;
  line-height: 135%;
}

#botoes-hero-section {
  display: flex;
  gap: 3.5rem;
}

#botoes-hero-section a:nth-child(1) {
  width: 27.5rem;
  height: 5.5rem;
  background-color: #405d49;
  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #f0ece1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 450;
  font-size: 2.3rem;
  transition: 0.2s ease;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
}

#botoes-hero-section a:nth-child(1):hover {
  background-color: #405d49d8;
  color: #f0ece1;
}

#botoes-hero-section a:nth-child(2) {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: #f0ece1;
}

#botoes-hero-section a:nth-child(2) span {
  margin-left: 0.3rem;
  font-size: 2rem;
  color: #f0ece1;
}

#botoes-hero-section a:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.8rem;
  width: 0%;
  height: 0.2rem;
  background-color: #f0ece1;
  transition: ease 0.3s;
}

#botoes-hero-section a:nth-child(2):hover {
  color: white;
}

#botoes-hero-section a:nth-child(2):hover span {
  color: white;
}

#botoes-hero-section a:nth-child(2):hover::after {
  width: 100%;
  color: white;
}

#imagem-hero-section {
  display: flex;
  justify-content: center;
  width: 70rem;
  z-index: 0;
  margin-left: -20rem;
}

#inicio-sobre {
  width: 100%;
  height: 79rem;
  background-color: #f0ece1;
  display: flex;
  justify-content: space-evenly;
}

#inicio-sobre > div {
  margin-top: 12rem;
}

#inicio-sobre div h2 {
  font-size: 7rem;
  background: linear-gradient(90deg, #405d49 45%, #6b8e4e 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 110%;
}

#inicio-sobre div p {
  font-size: 2.5rem;
  width: 48.5rem;
  color: #2e2e2e;
  line-height: 140%;
  font-weight: 450;
}

#inicio-sobre > div:nth-child(1) h2 {
  width: 48.5rem;
  margin-bottom: 3rem;
  margin-left: -0.5rem;
}

#inicio-sobre > div:nth-child(2) {
  display: flex;
  width: 100rem;
}

#inicio-sobre > div:nth-child(2) button {
  width: 27rem;
  height: 6rem;
  font-size: 2.5rem;
  background-color: #405d49;
  border: none;
  border-radius: 1rem;
  text-align: center;
  color: #f0ece1;
  cursor: pointer;
  margin-top: -2rem;
  transition: 0.3s ease;
}

#inicio-sobre > div:nth-child(2) button i {
  margin-left: 0.8rem;
}

#inicio-sobre > div:nth-child(2) button:hover {
  background-color: #425949;
}

#inicio-sobre > div:nth-child(2) div:nth-child(1) h2 {
  width: 49rem;
}

#inicio-sobre > div:nth-child(2) div:nth-child(2) p {
  margin-top: 8rem;
  margin-left: 5.5rem;
}

#inicio-sobre > div:nth-child(2) div:nth-child(2) p:nth-child(2) {
  margin-top: 2rem;
}

.container {
  margin-left: 5rem;
  margin-top: 6rem;
  margin-bottom: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  max-width: 72rem;
}

.card {
  background: #f4f1e9;
  padding: 2.3rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 1.8rem;
  width: 30rem;
  margin-top: 1.5rem;
  gap: 0;
  transition: .3s ease;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.8rem;
  height: 100%;
  background: #2f6b4f;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 2rem;
}
.card:hover{
  transform: translateY(-2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.card p {
  color: #555;
  margin: 0.8rem 0 0;
  margin-top: -1.5rem;
}

.pela-essencia-de-um-mundo-melhor {
  width: 75rem;
  position: relative;
  font-size: 3.5rem;
  display: flex;
  font-family: "Geist", sans-serif;
  font-weight: bold;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #405d49 45%, #6b8e4e 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  align-items: center;
  height: 16.4rem;
  margin-left: 5rem;
}

.lorem-ipsum-dolor {
  width: 58.3rem;
  position: relative;
  font-size: 2.5rem;
  line-height: 135%;
  font-weight: 500;
  font-family: "Plus Jakarta Sans";
  color: rgba(46, 46, 46, 0.85);
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 5rem;
  margin-top: 3rem;
}

.subtitulo {
  width: 60rem;
  position: relative;
  font-size: 2.2rem;
  display: flex;
  font-family: "Plus Jakarta Sans";
  color: #405d49;
  text-align: left;
  align-items: center;
  height: 4rem;
  margin-left: 5rem;
  margin-top: 15rem;
  margin-bottom: 2rem;
  font-weight: 5rem;
}

.botoes {
  margin-left: 2.5rem;
}

.Essentia {
  color: #405d49;
}

.img001.png {
  width: 80rem;
  height: 60rem;
}

.nossa-missao {
  width: 75rem;
  position: relative;
  font-size: 3.5rem;
  display: flex;
  font-family: "Geist", sans-serif;
  font-weight: bold;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #405d49 45%, #6b8e4e 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  align-items: center;
  height: 16.4rem;
  margin-left: 99rem;
}

.redes-sociais {
  display: flex;
  gap: 1.5rem;
  margin-left: 4.5rem;
  margin-top: 2rem;
}

.redes-sociais a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #555;
  color: #f0ece1;
  font-size: 2rem;
  transition: 0.3s ease;
  text-decoration: none;
  width: 7rem;
  height: 7rem;
}

.redes-sociais a:hover {
  background-color: #54713e;
  color: #f0ece1;
}

.imagens-inicial {
  position: relative;
  width: max-content;
  margin-left: 95rem;
  margin-top: -55rem;
  margin-bottom: 9rem;
}

.arvore {
  width: 90rem;
  border-radius: 2rem;
  display: block;
}

.arvore2 {
  width: 35rem;
  border-radius: 2rem;
  position: absolute;
  bottom: -8rem;
  left: -10rem;
}

.ri-mail-line,
.ri-instagram-line {
  font-size: 2.9rem;
}

.essentia-nossa-missao {
  width: 60rem;
  position: relative;
  font-size: 2.2rem;
  display: flex;
  font-family: "Plus Jakarta Sans";
  color: #405d49;
  text-align: left;
  align-items: center;
  height: 4rem;
  margin-left: 99rem;
  margin-top: 15rem;
  margin-bottom: -2rem;
  font-weight: 5rem;
}

.lorem-ipsum-dolor1 {
  width: 70rem;
  position: relative;
  font-size: 2.5rem;
  line-height: 135%;
  font-weight: 500;
  font-family: "Plus Jakarta Sans";
  color: rgba(46, 46, 46, 0.85);
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 99rem;
  margin-top: -1rem;
}

.objetivos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 0.2rem;
  margin-top: 2rem;
  max-width: 48rem;
  margin-left: 99rem;
}

.objetivo {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: #3e5944;
}

.check {
  margin-right: 0.8rem;
  font-size: 2rem;
  color: #3e5944;
}

.objetivox {
  color: #5e5d5a;
  font-size: 2.1rem;
  margin-bottom: 0.8rem;
}

.imagens-missao {
  position: relative;
  width: max-content;
  margin-left: 12rem;
  margin-top: -50rem;
}

.imggrande {
  width: 63rem;
  border-radius: 2rem;
  display: block;
  height: 58rem;
}

.imgpq {
  width: 40rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 11rem;
  left: 39rem;
}

.nossos-valores {
  width: 75rem;
  position: relative;
  font-size: 3.5rem;
  display: flex;
  font-family: "Geist", sans-serif;
  font-weight: bold;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #405d49 45%, #6b8e4e 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  align-items: center;
  height: 16.4rem;
  margin-left: 5rem;
  margin-top: -4rem;
  font-style: bold;
}

.loren {
  width: 70rem;
  position: relative;
  font-size: 2.5rem;
  line-height: 135%;
  font-weight: 500;
  font-family: "Plus Jakarta Sans";
  color: rgba(46, 46, 46, 0.85);
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 5rem;
  margin-top: -1rem;
}

.valor {
  margin-top: -1.6rem;
  line-height: 135%;
  font-weight: 500;
  font-family: "Plus Jakarta Sans";
  color: #2e2e2e;
}

.imagens-valores {
  position: relative;
  width: max-content;
  margin-left: 95rem;
  margin-top: -45rem;
  margin-bottom: 90rem;
}

.imgg {
  width: 70rem;
  border-radius: 2rem;
  display: block;
}

.imgfolha {
  width: 27rem;
  border-radius: 2rem;
  position: absolute;
  bottom: -7rem;
  left: -4rem;
}

.imgpes {
  width: 27rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 24rem;
  left: 50rem;
}

.sessao-time {
  width: 100%;
  height: 100vh;
  position: relative;
}

.essentia-time {
  margin-top: -70rem;
  width: 60rem;
  position: relative;
  font-size: 2.2rem;
  display: flex;
  font-family: "Plus Jakarta Sans";
  color: #405d49;
  text-align: left;
  align-items: center;
  height: 4rem;
  margin-left: 5rem;
  margin-bottom: 20rem;
  font-weight: 5rem;
}

.nosso-time {
  width: 75rem;
  position: relative;
  font-size: 3.5rem;
  display: flex;
  font-family: "Geist", sans-serif;
  font-weight: bold;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #405d49 90%, #6b8e4e 45%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  align-items: center;
  height: 16.4rem;
  margin-left: 80rem;
  margin-top: -32rem;
}
.turma {
  p {
    color: #2e2e2e;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 20rem;
    margin-bottom: 1rem;
  }

  hr {
    width: 182px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(46, 46, 46, 0.6);
    margin-left: 0;
    margin-left: 20rem;
  }
}

.carrossel-btn {
  background: none;
  border: none;
  font-size: 15rem;
  cursor: pointer;
  color: #2e2e2e;
}

.btn-1 {
  position: absolute;
  left: 30rem;
  top: 28rem;
}

.btn-2 {
  position: absolute;
  right: 30rem;
  top: 28rem;
}

.btn-3 {
  position: absolute;
  left: 30rem;
  top: 67rem;
}

.btn-4 {
  position: absolute;
  right: 30rem;
  top: 67rem;
}

.carrossel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 30rem;
  gap: 5rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
  -ms-overflow-style: none;
  justify-self: center;
  width: 100rem;
  margin-top: 3rem;
}

.carrossel::-webkit-scrollbar {
  display: none;
}

.time-card {
  width: 100%;
  height: 28rem;
  border-radius: 0 2rem 2rem 2rem;
  background-color: #6b8e4e;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  p {
    color: #f0ece1;
    font-size: 1.5rem;

    &:nth-child(2) {
      font-size: 1.8rem;
      margin-bottom: -0.5rem;
    }

    img {
      justify-self: center;
      align-self: center;
    }
  }
}

.linha-img {
  display: block;
  margin: auto;
  width: 15rem;
  height: 0.5rem;
  background: #6b8e4e;
  margin-left: 92rem;
  margin-top: -2.5rem;
  margin-bottom: 5rem;
  border-radius: 2rem;
}

.lorem-nossotime {
  width: 40rem;
  position: relative;
  font-size: 2.5rem;
  line-height: 135%;
  font-weight: 500;
  font-family: "Plus Jakarta Sans";
  color: rgba(46, 46, 46, 0.85);
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 79.5rem;
  margin-top: -3rem;
  text-align: center;
  margin-bottom: 6rem;
}

.essentia-saveit {
  width: 60rem;
  position: relative;
  font-size: 2.2rem;
  display: flex;
  font-family: "Plus Jakarta Sans";
  color: #405d49;
  text-align: left;
  align-items: center;
  height: 4rem;
  margin-left: 5rem;
  margin-top: 15rem;
  margin-bottom: 2rem;
  font-weight: 5rem;
}

.Nossoapp {
  width: 75rem;
  position: relative;
  font-size: 3.5rem;
  display: flex;
  font-family: "Geist", sans-serif;
  font-weight: bold;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #405d49 45%, #6b8e4e 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  align-items: center;
  height: 16.4rem;
  margin-left: 5rem;
}

.lorem-nosso {
  width: 76.7rem;
  position: relative;
  font-size: 2.5rem;
  line-height: 135%;
  font-weight: 500;
  font-family: "Plus Jakarta Sans";
  color: rgba(46, 46, 46, 0.85);
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 5rem;
  margin-top: 3rem;
}

.botao-saveit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  text-align: center;
  background-color: #6b8e4e;
  color: #f0ece1;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.3rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  z-index: 999;
  font-weight: 500;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
  transition: ease 0.3s;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-bottom: 7rem;

  &:hover {
    background-color: #5d7a44;

  }
}

.botao-saveit img {
  margin-left: 1.5rem;
}

.celular {
  margin-left: 118rem;
  margin-top: -70rem;
  margin-bottom: 9rem;
}
