* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #f0ece1;
  display: flex;
}

/* estilizacao da barra lateral contendo as FAQs */
#lateral {
  width: 45rem;
  border-radius: 0 4.6rem 4.6rem 0;
  background-color: #e6e2d6;

  h1 {
    width: 39rem;
    background: linear-gradient(270deg, #6b8e4e 0%, #405d49 42.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 5rem;
    line-height: 110%;
    margin-top: 6rem;
    margin-left: 2rem;
  }
}

#faq {
  margin-left: 2rem;
  h2 {
    color: #405d49;
    font-size: 2.3rem;

    margin-top: 4rem;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;

    li {
      color: #2e2e2e;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 110%;
      border-radius: 1rem;
      padding: 1rem;
      cursor: pointer;
      &:hover {
        background-color: #2e2e2e40;
      }
    }
  }

  button {
    margin-top: 15rem;
    background-color: transparent;
    border: none;
    color: #f24822;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.8rem;

    p {
      font-weight: 550;
    }
  }
}

/* estilizacao do chat */
#chat-container {
  width: calc(100% - 45rem);
}

#mensagens {
  width: 100%;
  height: 90%;
  overflow: auto;
  padding-bottom: 3rem;
}

.mensagem-usuario,
.mensagem-vit {
  padding: 2rem;
  border-radius: 1rem;
  color: #f0ece1;
  overflow-wrap: break-word;  
  line-height: 200%;

  p {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
  }

  small {
    color: #f0ece195;
    font-size: 1.3rem;
  }
}
.mensagem-usuario {
  background-color: #405d49;
  width: 35rem;
  margin: 2.5rem 2rem 0 auto;
}

.mensagem-vit {
  background-color: #6b8e4e;
  width: 37rem;
  margin: 2.5rem 0 0 2rem;
}

#input-usuario {
  margin-left: 2rem;
  background: none;
  input {
    width: 50rem;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    color: #2e2e2e;
    background-color: #e6e2d6;
    padding-left: 3rem;

    &:focus {
      outline: 0.2rem solid #405d49;
    }
  }
  button {
    background-color: #405d49;
    border: none;
    width: 10rem;
    border-radius: 1rem;
    height: 3.5rem;
    margin-left: 1rem;
    color: #f0ece1;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background-color: #344d3c;
    }
  }
}

.carregamento {
  background-color: #e6e2d6;
  width: 8rem;
  height: 2.5rem;
  border-radius: 1rem;
  padding-top: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}

.bolinha {
  width: 1rem;
  height: 1rem;
  background-color: #2e2e2e50;
  border-radius: 50%;

  &:nth-child(1) {
    animation: balancarBolas 0.8s ease-in-out infinite;
  }
  &:nth-child(2) {
    animation: balancarBolas 0.8s 0.1s ease-in-out infinite;
  }
  &:nth-child(3) {
    animation: balancarBolas 0.8s 0.2s ease-in-out infinite;
  }
}

/* animacao de carregamento das BOLAS */
@keyframes balancarBolas {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.8rem);
  }
}
