/* ! Arquivo CSS globalmente utilizado para Header e Footer */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
}

iframe {
  position: fixed;
  width: 100%;
  height: 102vh;
  z-index: 2000;
  margin-top: -2rem;
}

.titulo-geist {
  font-family: 'Geist', sans-serif;
  font-weight: bold;
  text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

header {
  margin: 0 auto;
  width: 75rem;
  height: 6rem;
  background-color: #3E5543;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  position: sticky;
  top: .5rem;
  z-index: 1000;
  transition: 0.3 ease;

  nav {
    width: 68.6rem;
    display: flex;
    justify-content: space-between;
    margin-left: 7.4rem;
    margin-right: 7.4rem;
    font-size: 2rem;
    align-items: center;

    a {
      text-decoration: none;
      color: #F0ECE1;
      transition: 0.3s ease;

      img {
        width: 5rem;
        height: 5rem;
        padding-top: .5rem;
      }

    }

    a:hover {
      transition: 0.5s ease;
      color: #2e2e2e;
    }
  }

  .mudarCor {
    color: #3E5543;
  }
}

.transicaoSvg {
  transition: ease 0.125s;
}

.botao-admin {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  top: 2rem;
  right: 8rem;
  text-align: center;
  background-color: #6B8E4E;
  color: #f0ece1;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2.7rem;
  cursor: pointer;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: #f0ece1;
  z-index: 999;
  font-weight: 400;
  box-shadow: 0 .4rem 2rem rgba(0, 0, 0, 0.1);
  transition: ease 0.3s;

  &:hover {
    background-color: #608046;
    color: #f0ece1;
    transition: 0.3s ease;
  }
}

header.scrolled {
  transition: 0.3 ease;
  backdrop-filter: blur(1rem);
  background-color: #3e554332;
}

.invisivel {
  display: none;
}
  #Interrogacao {
    text-decoration: none;
    font-size: 6rem;
    position: fixed;
    top: 85rem;
    right: 5rem;
    color: #405d49;
    z-index: 5;
    background-color: red;
    border-radius: 100%;
    width: 6rem;
  }

#abrir-lateral {
  position: fixed;
  top: 0.2rem;
  left: 1rem;
  font-size: 10rem;
  color: #757575;
  z-index: 5;
}

.lateral {
  position: fixed;
  display: block;
  background: linear-gradient(-50deg, #3E5543 70%, #608046 100%);
  width: 40rem;
  height: 100vh;
  top: 0;
  z-index: 5;
  border-radius: 5rem;
  margin-left: -5rem;

  #close {
    margin-left: 6rem;
    margin-top: 2rem;
    position: absolute;
    text-decoration: none;

    i {
      font-size: 8rem;
      color: #f0ece1;
    }
  }

  nav {
    margin-top: 66rem;
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;

    a {
      font-size: 5rem;
      text-decoration: none;
      color: #f0ece1;
    }
  }
}

footer {
  width: 100%;
  background-color: #2e2e2e;
  height: 42rem;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  color: #f0ece1;

  h4 {
    font-size: 2.5rem;
  }

  a,
  p {
    text-decoration: none;
    color: #f0ece1;
    font-size: 1.8rem;
  }

  >div:nth-child(n + 1),
  address {
    margin-top: 5rem;
  }

  >div:nth-child(1) {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-top: 8rem;

    img {
      width: 5rem;
    }

    p {
      font-size: 1.9rem;
      line-height: 140%;
      margin-top: 1rem;
    }

    div {
      display: flex;
      gap: 1rem;
      margin-top: -.5rem;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background-color: #f0ece13d;
        border-radius: 10rem;
        transition: .3s ease;

        &:hover {
          background-color: #6B8E4E;
          transition: .3s ease;
        }
      }
    }
  }

  div:nth-child(2) nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    a {
      transition: 0.2s ease;

      &:hover {
        color: white;
        font-weight: 500;
        transform: translateX(10px);
      }
    }
  }

  address {
    h4 {
      font-style: normal;
    }
  }

  >div:last-child {
    position: absolute;
    bottom: 0;

    hr {
      height: 0;
      width: 60rem;
      border: .05rem solid #f0ece1;
      border-radius: 10rem;
    }

    h4 {
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      text-align: center;
    }
  }
}

@media(width:412px) {
  body {
    position: relative;
  }
}

@media(width: 800px) {
  .lateral {

    nav {
      margin-top: 40rem;

      a {
        font-size: 3.8rem;
        text-decoration: none;
        color: #f0ece1;
      }
    }
  }
}

iframe {
  position: fixed;
  width: 100%;
  height: 102vh;
  z-index: 2000;
  margin-top: -2rem;
}