/* ! Arquivo CSS globalmente utilizado para Header e Footer */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
}


.titulo-geist {
    font-family: 'Geist', sans-serif;
    font-weight: bold;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
header {
    margin: 0 auto;
    width: 750px;
    height: 60px;
    background-color: #3E5543;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    position: sticky;
    top: 5px;
    z-index: 1000;
    transition: 0.3 ease;
    
    nav { /* ! MUDAR PARA ul */
        width: 686px;
        display: flex;
        justify-content: space-between;
        margin-left: 74px;
        margin-right: 74px;
        font-size: 20px;
        align-items: center;

        a {
            text-decoration: none;
            color: #F0ECE1;

            img {
                width: 50px;
                height: 50px;
                padding-top: 5px;
            }

        }

        a:hover {
            transition: 0.5s ease;
            color: #6B8E4E;
        }
    }
}

.transicaoSvg {
    transition: ease 0.125s;
}

.botao-admin {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    top: 16px;
    right: 80px;
    text-align: center;
    background-color: #6B8E4E;
    color: #f0ece1;
    padding: 10px 20px;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #f0ece1;
    z-index: 999;
    font-weight: 400;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: ease 0.3s;
}

.botao-admin:hover {
    background-color: #5d8c37;
    color: #f0ece1;
    transition: 0.3s ease;
}

header.scrolled {
    transition: 0.3 ease;
    backdrop-filter: blur(10px);
    background-color: #3e554332;
}

