@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.titulo-geist {
    font-family: 'Geist', sans-serif;
    font-weight: bold;
}

.texto-jakarta {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#inicio-hero-section {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#405d49 0%, #56764c 50%, #6b8e4e 100%);
    display: flex;
}

#texto-hero-section {
    width: 1060px;
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 80px;
    margin-top: 100px;
    
    h1 {
        font-size: 110px;
        line-height: 90%;
        color: #f0ece1;
        text-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    }

    p {
        width: 778px;
        height: 102px;
        font-size: 28px;
        margin-top: -60px;
        color: #f0ece1ea;
        font-weight: 400;
        line-height: 135%;
    }

    #botoes-hero-section {
        display: flex;

        button:nth-child(1) {
            width: 275px;
            height: 55px;
            background-color: #405d49;
            border: none;
            border-radius: 10px;

            a {
                text-decoration: none;
                color: #f0ece1;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-weight: 500;
                font-size: 23px;
                text-align: center;
            }

        }

        button:nth-last-child() {
            background-color: transparent;

        }

    }

    

}