@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --cor--sombra: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

#inicio-hero-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#405d49 0%, #56764c 50%, #6b8e4e 100%);
  display: flex;
  margin-top: -7rem;
}

#texto-hero-section {
  width: 106rem;
  height: 54.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-left: 8rem;
  margin-top: 13rem;
  z-index: 2;

  h1 {
    font-size: 10rem;
    line-height: 90%;
    color: #f0ece1;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  p {
    width: 77.8rem;
    height: 10.2rem;
    font-size: 2.5rem;
    margin-top: -6rem;
    color: #f0ece1ea;
    font-weight: 400;
    line-height: 135%;
  }

  #botoes-hero-section {
    display: flex;
    gap: 3.5rem;

    a:nth-child(1) {
      width: 27.5rem;
      height: 5.5rem;
      background-color: #405d49;
      border: none;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #f0ece1;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-weight: 450;
      font-size: 2.3rem;
      transition: 0.2s ease;
      box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
    }

    a:nth-child(1):hover {
      background-color: #405d49d8;
      color: #f0ece1;
    }

    a:nth-child(2) {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 300;
      color: #f0ece1;

      span {
        margin-left: 0.3rem;
        font-size: 2rem;
        color: #f0ece1;
      }
    }

    a:nth-child(2)::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0.8rem;
      width: 0%;
      height: 0.2rem;
      background-color: #f0ece1;
      transition: ease 0.3s;
    }

    a:nth-child(2):hover {
      color: white;

      span {
        color: white;
      }
    }

    a:nth-child(2):hover::after {
      width: 100%;
      color: white;
    }
  }
}

#imagem-hero-section {
  display: flex;
  justify-content: center;
  width: 70rem;
  z-index: 0;
  margin-left: -20rem;
}

#inicio-sobre {
  width: 100%;
  height: 79rem;
  background-color: #f0ece1;
  display: flex;
  justify-content: space-evenly;

  > div {
    margin-top: 12rem;
  }

  div {
    h2 {
      font-size: 7rem;
      background: linear-gradient(90deg, #405d49 45%, #6b8e4e 90%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 110%;
    }

    p {
      font-size: 2.5rem;
      width: 48.5rem;
      color: #2e2e2e;
      line-height: 140%;
      font-weight: 450;
    }
  }

  > div:nth-child(1) {
    h2 {
      width: 48.5rem;
      margin-bottom: 3rem;
      margin-left: -0.5rem;
    }
  }

  > div:nth-child(2) {
    display: flex;
    width: 100rem;

    a {
      padding: 15px;
      font-size: 2.5rem;
      background-color: #405d49;
      border: none;
      border-radius: 1rem;
      text-align: center;
      color: #f0ece1;
      cursor: pointer;
      margin-top: -2rem;
      transition: 0.3s ease;
      text-decoration: none;
      box-shadow: var(--cor--sombra);

      i {
        margin-left: 0.8rem;
      }
    }

    a:hover {
      background-color: #324939;
    }

    div:nth-child(1) {
      h2 {
        width: 49rem;
      }
    }

    div:nth-child(2) {
      p {
        margin-top: 8rem;
        margin-left: 5.5rem;
      }

      p:nth-child(2) {
        margin-top: 2rem;
      }
    }
  }
}

#inicio-funcionalidades {
  width: 100%;
  height: 100rem;
  background: linear-gradient(#546847 44%, #2e2e2e 100%);
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 7rem;
    width: 85rem;
    color: #f0ece1;
    margin-top: 7rem;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 110%;
  }

  > h3 {
    font-weight: 400;
    font-size: 2.8rem;
    margin-top: -0.5rem;
    color: #f0ece1;
  }

  #inicio-funcionalidades-quadro {
    width: 120rem;
    height: 50rem;
    background-color: #f0ece1;
    border-radius: 2rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: ease 0.3s;
    z-index: 1;

    #inicio-funcionalidades-quadro-texto {
      width: 90rem;
      height: 30rem;
      text-align: center;

      h3 {
        font-size: 5rem;
        color: #2e2e2e;
        line-height: 110%;
      }

      p {
        font-size: 2.2rem;
        color: #f0ece1ea;
        margin-top: 2rem;
        line-height: 140%;
        font-weight: 450;
      }
    }
  }

  #inicio-funcionalidades-quadro-botoes {
    position: relative;
    display: flex;
    flex-direction: column;
    left: -105rem;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    height: 18.5rem;
    width: 6.1rem;
    gap: 2rem;

    button {
      width: 6.5rem;
      height: 7.5rem;
      border-radius: 100%;
      border: none;
      background-color: #2e2e2e;
      cursor: pointer;
      margin-bottom: -1rem;
      transition: .3s ease;

      &:nth-child(1) {
        background-color: #405d49;
      }

      i {
        font-size: 2.5rem;
        color: #f0ece1;
      }
    }
  }
}

#inicio-saveit {
  width: 100%;
  height: 100rem;
  background: linear-gradient(115deg, #2e2e2e 47%, #2f2f2f 70%);
  margin-top: -2rem;
  position: relative;

  img {
    position: absolute;
    top: 0rem;
    left: 8rem;
    width: 80rem;
    height: auto;
    filter: drop-shadow(0 0.4rem 1.2rem rgba(0, 0, 0, 0.484));
  }

  hr {
    width: 100rem;
    height: 0.1rem;
    background: linear-gradient(-90deg, #8a8881 70%, #2e2e2e 100%);
    border: none;
  }

  div:nth-child(1),
  div:nth-child(2) {
    width: 120rem;
    display: flex;
    flex-direction: column;
    justify-self: right;
    color: #f0ece1;
    padding-top: 8rem;
    margin-right: 4rem;

    h2 {
      font-size: 6.5rem;
      width: 75rem;
      text-align: right;
      margin-left: auto;
    }

    p {
      font-size: 2.3rem;
      width: 90rem;
      font-weight: 400;
      line-height: 140%;
      margin-left: 20rem;
    }

    hr {
      margin-top: -5rem;
    }
  }

  div:nth-child(2) {
    margin-left: 4rem;
    margin-top: 8rem;
    padding-top: 0;
    margin-right: auto;

    h2 {
      text-align: left;
      margin-left: 0;
      width: 62rem;
    }

    hr {
      transform: rotateY(180deg);
      margin-left: 0;
    }

    p {
      margin-left: 0;
    }
  }

  #inicio-saveit-svg {
    position: absolute;
    bottom: 0;
    right: 0rem;
    width: 100rem;
    height: 50rem;
    z-index: 0;
    transform: rotateX(180deg);
  }
}

#inicio-planos {
  width: 100%;
  height: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0ece1;
  position: relative;

  > h2 {
    color: #2f2f2f;
    font-size: 7rem;
    margin-top: 2rem;
  }

  > hr {
    height: 0.6rem;
    background-color: #405d49;
    border: none;
    width: 38rem;
    border-radius: 100rem;
    margin-top: -5rem;
  }

  > p {
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 0.3rem;
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    width: 120rem;
    height: 85rem;

    > div {
      border-radius: 2rem;
      box-shadow: var(--cor--sombra);
      transition: 0.3s ease;

      &:hover {
        transform: translateY(-1.5rem);
      }

      &:nth-child(1):hover {
        box-shadow: 0.4rem 0.4rem 0.8rem rgb(121, 120, 120);
      }

      &:nth-child(2):hover {
        box-shadow: 0.8rem 0.8rem 1rem rgb(116, 116, 116);
      }
    }

    > div:nth-child(1),
    div:nth-child(2) {
      background: #2f2f2f4d;
      width: 47rem;
      height: 64rem;

      h3,
      > hr,
      > p,
      ul, h4 {
        margin-left: 3rem;
      }

      > p,
      ul {
        margin-top: 1rem;
      }

      h3 {
        width: 28rem;
        font-size: 4rem;
        font-weight: 450;
        background: linear-gradient(135deg, #2e2e2e, #2f2f2f60);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0.5rem;
      }

      hr {
        width: 30rem;
        background: linear-gradient(135deg, #8a8881 70%, #2e2e2e 100%);
        border: none;
        height: 0.2rem;
        transform: rotateY(180deg);
      }

      > p {
        color: rgba(46, 46, 46, 0.75);
        font-size: 2rem;
        font-weight: 400;
      }

      ul {
        list-style: none;
        color: #2e2e2e;
        font-weight: 300;
        font-size: 1.8rem;

        li {
          margin-left: -4rem;
          i {
            padding-right: 0.5rem;
            font-size: 2.5rem;
            font-weight: 700;
            color: #f24822;
          }

          &:nth-child(1) {
            i {
              color: #6b8e4e;
            }
          }
        }
      }

      h4 {
        color: #2e2e2e;
        font-size: 3.5rem;
        font-weight: 450;
      }

      a {
        display: inline-block;
        width: 30rem;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        box-shadow: var(--cor--sombra);
        background-color: #2e2e2e;
        border-radius: 5rem;
        text-decoration: none;
        color: #f0ece1;
        font-size: 2.3rem;
        font-weight: 400;
        margin-left: 8rem;
        transition: 0.3s ease;

        &:hover {
          background-color: #3a3a3a;
        }
      }
    }

    > div:nth-child(2) {
      background: #2f2f2f;
      width: 50rem;
      height: 73rem;

      h3 {
        background: linear-gradient(135deg, #f0ece1, #8a8881);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 25rem;
        font-size: 4.5rem;
      }

      p {
        color: #f0ece1;
        font-weight: 300;
        font-size: 2.2rem;
      }

      ul {
        li {
          i {
            font-size: 3rem;
            color: #6b8e4e;
          }
        }
      }

      h4 {
        color: #f0ece1;

        span {
          color: #757575;
          font-size: 2.5rem;
          vertical-align: top;
        }
      }

      a {
        background-color: #f0ece1;
        color: #2e2e2e;
        font-weight: 450;
        margin-left: 10rem;

        &:hover {
          background-color: #c5c2b9;
        }
      }
    }
  }
}

#inicio-cta {
  width: 100%;
  height: 64rem;
  margin-top: -2rem;
  background: linear-gradient(-90deg, #405d49 0%, #4d5d42 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 160rem;
    height: 38.5rem;
    background-color: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 4.5rem;
      color: #f0ece1;

      span::after {
        content: "";
        display: block;
        margin-left: auto;
        width: 30%;
        height: 0.4rem;
        background: linear-gradient(90deg, #405d49 70%, #6b8e4e 90%);
        margin-top: 0;
        border-radius: 100rem;
      }
    }

    p {
      font-size: 2.2rem;
      color: #f0ece1ea;
      margin-top: -2rem;
      text-align: center;
      font-weight: 450;
    }

    ul {
      display: flex;
      gap: 2rem;
      margin-top: 0;

      a:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23rem;
        height: 5rem;
        background-color: #6b8e4e;
        border-radius: 5rem;
        color: #f0ece1;
        text-decoration: none;
        font-weight: 500;
        font-size: 2rem;
        transition: 0.2s ease;
        box-shadow: var(--cor--sombra);

        &:hover {
          background-color: #638449;
        }
      }

      a:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23rem;
        height: 4.5rem;
        background-color: transparent;
        border: 0.2rem solid #f0ece1;
        border-radius: 2rem;
        color: #f0ece1;
        text-decoration: none;
        font-weight: 400;
        font-size: 2rem;
        box-shadow: var(--cor--sombra);
        transition: 0.2s ease;

        &:hover {
          background-color: #f0ece10e;
          border: 0.2rem solid #405d49;
        }
      }
    }
  }
}
