@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --cor--sombra: 0 5px 10px rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

#inicio-hero-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#405d49 0%, #56764c 50%, #6b8e4e 100%);
  display: flex;
  margin-top: -70px;
}

#texto-hero-section {
  width: 1060px;
  height: 545px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-left: 80px;
  margin-top: 130px;
  z-index: 2;

  h1 {
    font-size: 100px;
    line-height: 90%;
    color: #f0ece1;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  p {
    width: 778px;
    height: 102px;
    font-size: 25px;
    margin-top: -60px;
    color: #f0ece1ea;
    font-weight: 400;
    line-height: 135%;
  }

  #botoes-hero-section {
    display: flex;
    gap: 35px;

    a:nth-child(1) {
      width: 275px;
      height: 55px;
      background-color: #405d49;
      border: none;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #f0ece1;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-weight: 450;
      font-size: 23px;
      transition: 0.2s ease;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    a:nth-child(1):hover {
      background-color: #405d49d8;

      color: #f0ece1;
    }

    a:nth-child(2) {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-decoration: none;
      font-size: 20px;
      font-weight: 300;
      color: #f0ece1;

      span {
        margin-left: 3px;
        font-size: 20px;
        color: #f0ece1;
      }
    }

    a:nth-child(2)::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 8px;
      width: 0%;
      height: 2px;
      background-color: #f0ece1;
      transition: ease 0.3s;
    }

    a:nth-child(2):hover {
      color: white;

      span {
        color: white;
      }
    }

    a:nth-child(2):hover::after {
      width: 100%;
      color: white;
    }
  }
}

#imagem-hero-section {
  display: flex;
  justify-content: center;
  width: 700px;
  z-index: 0;
  margin-left: -200px;
}

#inicio-sobre {
  width: 100%;
  height: 790px;
  background-color: #f0ece1;
  display: flex;
  justify-content: space-evenly;

  > div {
    margin-top: 120px;
  }
  /* --------------- DEFINICOES DE TEXTO NAS DIVS ---------------- */
  div {
    h2 {
      font-size: 70px;
      background: linear-gradient(90deg, #405d49 45%, #6b8e4e 90%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 110%;
    }

    p {
      font-size: 25px;
      width: 485px;
      color: #2e2e2e;
      line-height: 140%;
      font-weight: 450;
    }
  }

  > div:nth-child(1) {
    h2 {
      width: 485px;
      margin-bottom: 30px;
      margin-left: -5px;
    }
  }

  > div:nth-child(2) {
    display: flex;
    width: 1000px;

    button {
      width: 270px;
      height: 60px;
      font-size: 25px;
      background-color: #405d49;
      border: none;
      border-radius: 10px;
      text-align: center;
      color: #f0ece1;
      cursor: pointer;
      margin-top: -20px;
      transition: 0.3s ease;
      i {
        margin-left: 8px;
      }
    }

    button:hover {
      background-color: #405d49f1;
    }

    div:nth-child(1) {
      h2 {
        width: 490px;
      }
    }

    div:nth-child(2) {
      p {
        margin-top: 80px;
        margin-left: 55px;
      }

      p:nth-child(2) {
        margin-top: 20px;
      }
    }
  }
}

#inicio-funcionalidades {
  width: 100%;
  height: 1000px;
  background: linear-gradient(#546847 44%, #2e2e2e 100%);
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 70px;
    width: 850px;
    color: #f0ece1;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 110%;
    text-align: center;
  }
  > h3 {
    font-weight: 400;
    font-size: 28px;
    margin-top: -5px;
    color: #f0ece1;
  }

  #inicio-funcionalidades-quadro {
    width: 1200px;
    height: 500px;
    background-color: #f0ece1;
    border-radius: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: ease 0.3s;
    z-index: 1;

    #inicio-funcionalidades-quadro-texto {
      width: 900px;
      height: 300px;
      text-align: center;

      h3 {
        font-size: 50px;
        color: #2e2e2e;
        line-height: 110%;
      }

      p {
        font-size: 22px;
        color: #f0ece1ea;
        margin-top: 20px;
        line-height: 140%;
        font-weight: 450;
      }
    }
  }

  #inicio-funcionalidades-quadro-botoes {
    position: relative;
    display: flex;
    flex-direction: column;
    left: -1050px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    height: 185px;
    width: 61px;
    gap: 20px;
    

    button {
      width: 65px;
      height: 70px;
      border-radius: 100%;
      border: none;
      background-color: #2e2e2e;
      cursor: pointer;
      margin-bottom: -10px;

      i {
        font-size: 25px;
        color: #f0ece1;
      }
    }
  }
}

#inicio-saveit {
    width: 100%;
    height: 1000px;
    background: linear-gradient(115deg, #2e2e2e 47% , #2f2f2f 70%);
    margin-top: -20px;
    position: relative;

    img {
        position: absolute;
        top: 0px;
        left: 80px;
        width: 800px;
        height: auto;
        filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.484));
    }

    hr {
        width: 1000px;
        height: 1px;
        background: linear-gradient(-90deg, #8A8881 70%, #2e2e2e 100%);
        border: none;
    }

    div:nth-child(1), div:nth-child(2) {
        width: 1200px;
        display: flex;
        flex-direction: column;
        justify-self: right;
        color: #f0ece1;
        padding-top: 80px;
        margin-right: 40px;
        h2 {
            font-size: 65px;
            width: 750px;
            text-align: right;
            margin-left: auto;
        }

        p {
            font-size: 23px;
            width: 900px;
            font-weight: 400;
            line-height: 140%;
            margin-left: 200px;
        }
        
        hr {
            margin-top: -50px;
            margin-right: 0;
        }
        
    }

    div:nth-child(2) {
        justify-self: left;
        margin-right: 0;
        margin-left: 40px;
        padding-top: 0;
        margin-top: 80px;
        h2 {
            text-align: left;
            margin-left: 0;
            width: 620px;
        }

        hr {
            transform: rotateY(180deg);
            margin-left: 0;
        }

        p {
            margin-left: 0;
        }
    }

    #inicio-saveit-svg {
    position: absolute;
    bottom: 0;
    right: 0px; 
    width: 1000px;
    height: 500px;
    z-index: 0;
    transform: rotateX(180deg);
  }    
}

#inicio-cta {
  width: 100%;
  height: 640px;
  margin-top: -20px;
  background: linear-gradient(-90deg, #405d49 0%, #4D5D42 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 1600px;
    height: 385px;
    background-color: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h2 {
      font-size: 45px;
      color: #f0ece1;

      span::after {
        content: "";
        display: block;
        margin-left: auto;
        width: 30%;
        height: 4px;
        background: linear-gradient(90deg, #405d49 70%, #6b8e4e 90%);
        margin-top: 0px;
        border-radius: 100px;
      }
    }

    p {
      font-size: 22px;
      color: #f0ece1ea;
      margin-top: -20px;
      text-align: center;
      font-weight: 450;
    }

    ul {
      display: flex;
      gap: 20px;
      margin-top: 0;

      a:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 50px;
        background-color: #6b8e4e;
        border-radius: 50px;
        color: #f0ece1;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        transition: 0.2s ease;
        box-shadow: var(--cor--sombra);

        &:hover {
          background-color: #6b8e4ec4;
          transition: 0.2s ease;
        }
      }

      a:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 45px;
        background-color: transparent;
        border: 2px solid #f0ece1;
        border-radius: 20px;
        color: #f0ece1;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        box-shadow: var(--cor--sombra);
        transition: 0.2s ease;

        &:hover {
          background-color: #f0ece10e;
          transition: 0.2s ease;
          border: 2px solid #405d49;
        }
      }
    }
  }
}

