@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");


* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    margin: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    background-color: #f0ece1;
    overflow: hidden;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 750px;
    margin: 40px auto;
    background-color: #FFFAF0;
    border-radius: 20px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
    
    img {
        width: 50px;
        height: 50px;
        padding-top: 70px;
        margin-bottom: -100px;
    }
    
    h1 {
        color: #2F2F2F;
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        margin-top: 140px;
        margin-bottom: -10px;
    }
    
    
    form {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 550px;
        height: 450px;
        margin-top: 20px;
    
        input[placeholder] {
            width: 95%;
            height: 50px;
            border-radius: 20px;
            background-color: rgba(176, 186, 195, 0.4);
            padding-left: 20px;
            border: none;
            outline: 0.3px solid #7C838A;
            margin-bottom: 15px;
            font-size: 17px;
    
            &::placeholder {
                color: rgba(0, 0, 0, 0.5);
                font-size: 17px;
                font-weight: 450;
            }
    
            &:focus {
                outline: 2px solid #6b8e4e;
            }
        }
    
        input[type = "submit"] {
            background-color: #6b8e4e;
            border: none;
            width: 320px;
            height: 50px;
            border-radius: 10px;
            margin-top: 30px;
            color: #f0ece1;
            font-weight: 500;
            font-size: 20px;
            margin-top: 10px;
            cursor: pointer;
            transition: .3s ease;
    
            &:hover {
                background-color: #5d8040;
            }
        }
        
        label {
            margin-right: auto;
            color: #7C838A;
            font-weight: 450;
            font-size: 18px;
        }
    }

    p:nth-child(3) {
        margin-top: 20px;
        font-size: 18px;
        color: #7C838A;
    }

    p:last-child {
        margin-top: -20px;
        font-size: 18px;
        font-weight: 450;
        color: #7C838A;
        a {
            text-decoration: none;
            color: #405d49;
            font-weight: 550;
        }
    }
}

#svg-topo {
    position: absolute;
    z-index: -1;
    width: 1000px;
    height: 1000px;
    top: -450px;
    left: -450px;
    transform: rotateX(180deg);
    
}

#svg-baixo {
    position: absolute;
    z-index: -1;
    width: 1000px;
    height: 1000px;
    bottom: -400px;
    right: -400px;
    transform: rotateX(180deg);
    object-fit: cover;
    
}