:root {
  --cor--sombra: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}



@media(min-width: 801px) {

  #lateral,
  #abrir-lateral {
    display: none;
  }


    #Saveit-1 {
      width: 100%;
      height: 101vh;
      background: linear-gradient(155deg, #f0ece1 63%, #504f4f 100%);
      margin-top: -8rem;

      h1 {
        margin: 0;
        padding: 0;
        margin: 0 auto;
        font-size: 50rem;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 15%;
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 50%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
        letter-spacing: -3rem;
      }

      p {
        width: 51rem;
        margin: 0;
        padding-top: 73.5rem;
        margin-left: 12rem;
        color: rgba(46, 46, 46, 0.85);
        font-size: 2.5rem;
      }

      #svgcelular {
        width: 59rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0%;
      }

      #folha1 {
        width: 52rem;
        position: absolute;
        left: 80%;
        transform: translateX(-40%);
        bottom: 4%;
      }

      #folha2 {
        width: 48rem;
        position: absolute;
        left: 12%;
        transform: translateX(-50%);
        bottom: 25%;
      }

      #folha3 {
        width: 38rem;
        position: absolute;
        left: 100%;
        transform: translateX(-100%);
        bottom: 45%;
      }
    }

    #Saveit-2 {
      display: flex;
      gap: 10rem;
      justify-content: center;
      width: 100%;
      height: 40vh;
      background-color: #f0ece1;

      div {
        margin-top: 5rem;
        justify-content: center;
        width: 39.5rem;

        h2 {
          font-size: 4.8rem;
          color: #6b8e4e;
          text-align: center;
        }

        p {
          font-size: 2.2rem;
          margin-top: -0.5rem;
          text-align: center;
          color: #2e2e2e;
        }
      }
    }

    #Saveit-3 {
      justify-content: center;
      width: 100%;
      height: 70vh;
      background-color: #f0ece1;
      justify-items: center;

      h2 {
        margin: 0;
        margin-bottom: -3rem;
        font-size: 5rem;
        width: 60rem;
        text-align: center;
        color: #2e2e2e;
        font-weight: 700;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
      }

      #divzona {
        display: flex;
        margin-top: 10rem;
        gap: 7rem;
      }

      .divs {
        background-color: rgb(255, 255, 255, 0.5);
        width: 55rem;
        height: 32rem;
        border-radius: 2rem;
        justify-items: center;
        box-shadow: var(--cor--sombra);
        transition: 0.3s ease;

        h4 {
          font-size: 5rem;
          margin-top: -0.5rem;
          color: #6b8e4e;
        }

        h3 {
          font-size: 2.5rem;
          width: 40rem;
          font-weight: 500;
          text-align: center;
          color: #2e2e2e;
          margin-top: 2rem;
        }

        p {
          font-size: 1.6rem;
          width: 45rem;
          text-align: center;
          color: #2e2e2e;
          margin-top: -2rem;
          line-height: 125%;
        }

        &:hover {
          transform: translateY(-2rem);
          box-shadow: var(--cor--sombra);
        }
      }

      h3 {
        font-size: 2rem;
      }
    }

    #Saveit-4 {
      width: 100%;
      height: 60vh;
      background-color: #f0ece1;
      position: relative;

      h2 {
        margin: 0;
        padding-top: 10rem;
        padding-left: 6.5rem;
        font-size: 6.5rem;
        width: 60rem;
        text-align: center;
        color: #2e2e2e;
        font-weight: 700;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
      }

      hr {
        height: 0.6rem;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
        border: none;
        width: 56rem;
        border-radius: 100rem;
        margin-left: 10rem;
      }

      #span1 {
        display: flex;
        gap: 10rem;
        margin-left: 10rem;
      }

      .antes {
        margin-top: 10rem;
        width: 42rem;
        height: 6.2rem;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 60%);
        justify-items: center;
        border-radius: 5rem;
        color: #f0ece1;
        font-size: 2.3rem;
        border: none;
        transition: 0.3s ease;
      }

      .depois {
        width: 70rem;
        height: 50rem;
        border-radius: 3.5rem;
        background-color: #f0ece1;
        box-shadow: var(--cor--sombra);
        transition: 0.3s ease;

        &::not(h3) {
          display: flex;
        }
      }

      #span2 {
        display: flex;
      }

      .clicado {
        margin-left: 10rem;
        position: relative;

        h3 {
          padding-top: 1rem;
          padding-left: 1rem;
          color: #405d49;
          margin: 1rem;
          font-size: 4rem;
        }

        p {
          width: 40rem;
          font-size: 2.2rem;
          padding-left: 2rem;
        }

        img {
          width: 22.5rem;
          position: absolute;
          right: 6rem;
          top: 5rem;
        }
      }

      #estoDepois,
      #viDepois,
      #relDepois {
        top: 28rem;
        position: absolute;
        width: 85rem;
        height: 60rem;
      }

      #viDepois {
        left: 45rem;
      }

      #relDepois {
        left: 88rem;
      }

      .outrosEstoClicado {
        width: 35rem;
      }

      .viEstoClicado {
        margin-left: 94rem;
      }

      .relViClicado {
        margin-left: 93rem;
      }


      .depois:hover {
        transform: translateY(-2rem);
        box-shadow: var(--cor--sombra);
      }

      .antes:hover {
        transform: translateY(-0.2rem);
        box-shadow: var(--cor--sombra);
      }
    }
  }

  /* IPad */

  @media(width: 800px) {
    body {
      overflow-x: hidden;
      max-width: 100vw;
      max-height: 100vh;
      position: relative;
    }

    header,
    .botao-admin {
      display: none;
    }



    #Saveit-1 {
      width: 100vw;
      height: 100vh;
      background: linear-gradient(100deg, #f0ece1 70%, #504f4f 100%);
      position: relative;

      h1 {
        margin: 0;
        padding: 0;
        bottom: 0;
        text-align: center;
        font-size: 20rem;
        position: absolute;
        top: 25rem;
        left: 6.5rem;
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 50%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
      }

      p {
        position: absolute;
        width: 48rem;
        margin: 0;
        top: 88rem;
        left: 8rem;
        color: rgba(46, 46, 46, 0.85);
        font-size: 2.4rem;
        font-weight: 450;
      }

      #svgcelular {
        width: 40rem;
        position: absolute;
        top: 38rem;
        left: 20rem;
      }

      #folha1 {
        width: 45rem;
        position: absolute;
        top: 90rem;
        right: -15rem;
      }

      #folha2 {
        width: 30rem;
        position: absolute;
        top: 45rem;
        left: -5rem;
      }

      #folha3 {
        width: 35rem;
        position: absolute;
        right: -5rem;
      }
    }

    #Saveit-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8rem;
      width: 100%;
      height: 90vh;
      background-color: #f0ece1;

      div {
        justify-content: center;
        width: 40rem;
        margin-top: 7rem;

        h2 {
          font-size: 4.8rem;
          color: #6b8e4e;
          text-align: center;
        }

        p {
          font-size: 2.2rem;
          margin-top: -0.5rem;
          text-align: center;
          color: #2e2e2e;
        }
      }
    }

    #Saveit-3 {
      width: 100%;
      height: 100vh;
      background-color: #f0ece1;
      justify-items: center;

      h2 {
        margin: 0;
        margin-bottom: -3rem;
        font-size: 5rem;
        width: 60rem;
        text-align: center;
        color: #2e2e2e;
        font-weight: 700;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
      }

      #divzona {
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
        gap: 7rem;
      }

      .divs {
        background-color: rgb(255, 255, 255, 0.5);
        width: 55rem;
        height: 32rem;
        border-radius: 2rem;
        justify-items: center;
        box-shadow: var(--cor--sombra);
        transition: 0.3s ease;

        h4 {
          font-size: 5rem;
          margin-top: -0.5rem;
          color: #6b8e4e;
        }

        h3 {
          font-size: 2.5rem;
          width: 40rem;
          font-weight: 500;
          text-align: center;
          color: #2e2e2e;
          margin-top: 2rem;
        }

        p {
          font-size: 1.6rem;
          width: 45rem;
          text-align: center;
          color: #2e2e2e;
          margin-top: -2rem;
          line-height: 125%;
        }

        &:hover {
          transform: translateY(-2rem);
          box-shadow: var(--cor--sombra);
        }
      }

      h3 {
        font-size: 2rem;
      }
    }

    #Saveit-4 {
      width: 100vw;
      height: 80vh;
      background-color: #f0ece1;
      position: relative;

      h2 {
        margin: 0;
        padding-top: 10rem;
        font-size: 6.5rem;
        text-align: center;
        color: #2e2e2e;
        font-weight: 700;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
      }

      hr {
        height: 0.6rem;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
        border: none;
        width: 56rem;
        border-radius: 100rem;
      }

      #span1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10rem;
      }

      .antes {
        margin-top: 10rem;
        width: 42rem;
        height: 6.2rem;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 60%);
        justify-items: center;
        border-radius: 5rem;
        color: #f0ece1;
        font-size: 2.3rem;
        border: none;
        transition: 0.3s ease;
      }

      .depois {
        width: 69rem;
        height: 50rem;
        border-radius: 3.5rem;
        background-color: #f0ece1;
        box-shadow: var(--cor--sombra);
        transition: 0.3s ease;

        &::not(h3) {
          display: flex;
        }
      }

      #span2 {
        display: flex;
        justify-content: center;
      }

      .clicado {
        position: relative;

        h3 {
          padding-top: 1rem;
          padding-left: 1rem;
          color: #405d49;
          margin: 1rem;
          font-size: 4rem;
        }

        p {
          width: 40rem;
          font-size: 2.5rem;
          padding-left: 2rem;
        }

        img {
          width: 20.5rem;
          position: absolute;
          right: 6rem;
          top: 9rem;
        }
      }

      #estoDepois,
      #viDepois,
      #relDepois {
        top: 28rem;
        position: absolute;
        width: 70rem;
        height: 60rem;
      }

      #viDepois {
        margin-top: 25rem;
      }

      #relDepois {
        margin-top: 50rem;
      }

      .outrosEstoClicado {
        width: 45rem;
      }

      .viEstoClicado {
        margin-top: 85rem;
      }

      .relViClicado {
        margin-top: 85rem;
      }


      .depois:hover {
        transform: translateY(-2rem);
        box-shadow: var(--cor--sombra);
      }

      .antes:hover {
        transform: translateY(-0.2rem);
        box-shadow: var(--cor--sombra);
      }
    }
  }

  /* celular */
  @media (width: 412px) {
    html {
      overflow-x: hidden;
    }

    body {
      font-size: 30%;
      max-width: 100vw;
      max-height: 100vh;
      position: relative;
    }


    #Saveit-1 {
      width: 100vw;
      height: 100vh;
      background: linear-gradient(100deg, #f0ece1 70%, #504f4f 100%);
      position: relative;

      h1 {
        margin: 0;
        padding: 0;
        bottom: 0;
        text-align: center;
        font-size: 22rem;
        position: absolute;
        top: 40rem;
        left: 5rem;
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 50%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
      }

      p {
        position: absolute;
        width: 50rem;
        margin: 0;
        top: 120rem;
        left: 5rem;
        color: rgba(46, 46, 46, 0.85);
        font-size: 3rem;
        font-weight: 450;
      }

      #svgcelular {
        width: 45rem;
        position: absolute;
        top: 54rem;
        left: 20rem;
      }

      #folha1 {
        display: none;
      }

      #folha2 {
        width: 48rem;
        position: absolute;
        top: 48rem;
        left: -10rem;
      }

      #folha3 {
        width: 60rem;
        position: absolute;
        top: 100rem;
        right: -15rem;
        transform: rotate(60deg);
      }
    }

    #Saveit-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8rem;
      width: 100vw;
      height: 80vh;
      background-color: #f0ece1;

      div {
        margin-top: 5rem;
        justify-content: center;
        width: 39.5rem;

        h2 {
          font-size: 4.8rem;
          color: #6b8e4e;
          text-align: center;
        }

        p {
          font-size: 3rem;
          text-align: center;
          color: #2e2e2e;
        }
      }
    }

    #Saveit-3 {
      align-items: center;
      width: 100%;
      height: 75vh;
      background-color: #f0ece1;
      justify-items: center;

      h2 {
        margin: 0;
        margin-bottom: -3rem;
        font-size: 5rem;
        width: 60rem;
        text-align: center;
        color: #2e2e2e;
        font-weight: 700;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
      }

      #divzona {
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
        gap: 7.5rem;
      }

      .divs {
        background-color: rgb(255, 255, 255, 0.5);
        width: 55rem;
        height: 32rem;
        border-radius: 2rem;
        justify-items: center;

        box-shadow: var(--cor--sombra);
        transition: 0.3s ease;

        h4 {
          font-size: 5rem;
          margin-top: -0.5rem;
          color: #6b8e4e;
        }

        h3 {
          font-size: 2.5rem;
          width: 40rem;
          font-weight: 500;
          text-align: center;
          color: #2e2e2e;
          margin-top: 2rem;
        }

        p {
          font-size: 1.8rem;
          font-weight: 400;
          width: 45rem;
          text-align: center;
          color: #2e2e2e;
          margin-top: -2rem;
          line-height: 125%;
        }

        &:hover {
          transform: translateY(-2rem);
          box-shadow: var(--cor--sombra);
        }
      }

      h3 {
        font-size: 2rem;
      }
    }

    #Saveit-4 {
      width: 100vw;
      height: 60vh;
      background-color: #f0ece1;
      position: relative;

      h2 {
        margin: 0;
        padding-top: 10rem;
        font-size: 6.5rem;
        text-align: center;
        color: #2e2e2e;
        font-weight: 700;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
      }

      hr {
        height: 0.6rem;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
        border: none;
        width: 56rem;
        border-radius: 100rem;
      }

      #span1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10rem;
      }

      .antes {
        margin-top: 10rem;
        width: 42rem;
        height: 6.2rem;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 60%);
        justify-items: center;
        border-radius: 5rem;
        color: #f0ece1;
        font-size: 2.3rem;
        border: none;
        transition: 0.3s ease;
      }

      .depois {
        width: 69rem;
        height: 50rem;
        border-radius: 3.5rem;
        background-color: #f0ece1;
        box-shadow: var(--cor--sombra);
        transition: 0.3s ease;

        &::not(h3) {
          display: flex;
        }
      }

      #span2 {
        display: flex;
        justify-content: center;
      }

      .clicado {
        position: relative;

        h3 {
          padding-top: 1rem;
          padding-left: 1rem;
          color: #405d49;
          margin: 1rem;
          font-size: 4rem;
        }

        p {
          width: 40rem;
          font-size: 2.5rem;
          padding-left: 2rem;
        }

        img {
          width: 20.5rem;
          position: absolute;
          right: 6rem;
          top: 9rem;
        }
      }

      #estoDepois,
      #viDepois,
      #relDepois {
        top: 28rem;
        position: absolute;
        width: 70rem;
        height: 60rem;
      }

      #viDepois {
        margin-top: 25rem;
      }

      #relDepois {
        margin-top: 50rem;
      }

      .outrosEstoClicado {
        width: 45rem;
      }

      .viEstoClicado {
        margin-top: 85rem;
      }

      .relViClicado {
        margin-top: 85rem;
      }



      .depois:hover {
        transform: translateY(-2rem);
        box-shadow: var(--cor--sombra);
      }

      .antes:hover {
        transform: translateY(-0.2rem);
        box-shadow: var(--cor--sombra);
      }
    }
  }