:root {
  --cor--sombra: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#Saveit-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(155deg, #F0ECE1 63%,#504f4f 100%);
    margin-top: -70px;


    h1{
        margin: 0;
        padding: 0;
        margin: 0 auto;
        font-size: 500px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 15%;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 50%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
        letter-spacing: -30px;
    }
    p{
        width: 500px;
        margin: 0;
        padding-top: 735px;
        margin-left: 120px;
        color: rgba(46, 46, 46, 0.85);
        font-size: 25px;
    }
    #svgcelular{
        width: 590px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0%;
    }
    #foia1{
        width: 520px;
        position: absolute;
        left: 80%;
        transform: translateX(-40%);
        bottom: 4%;
    }
    #foia2{
        width: 480px;
        position: absolute;
        left: 12%;
        transform: translateX(-50%);
        bottom: 25%;
    }
    #foia3{
        width: 380px;
        position: absolute;
        left: 100%;
        transform: translateX(-100%);
        bottom: 45%;
    }
}
#Saveit-2{
    display: flex;
    gap: 100px;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-color: #F0ECE1; 
    
    div{
        justify-content: center;
        width: 395px;
        h2{
            font-size: 48px;
            color: #6B8E4E;
            text-align: center;
        }
        p{
            font-size: 22px;
            margin-top: -5px;
            text-align: center;
            color: #2E2E2E;
        }
    }
}
#Saveit-3{
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-color: #F0ECE1; 
    justify-items: center;

    h1{
        margin: 0;
        font-size: 50px;
        width: 600px;
        text-align: center;
        color: #2E2E2E;
        font-weight: 700;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
    }
    #divzona{
        display: flex;
        margin-top: 100px;
        gap: 70px;
    }
    .divs{
        background-color: rgb(255, 255, 255, 0.50);
        width: 550px;
        height: 300px;
        border-radius: 20px;
        justify-items: center;
        box-shadow: var(--cor--sombra);

        h2{
        font-size: 50px;
        margin-top: -5px;
        color: #6B8E4E;
    }
    h3{
        font-size: 25px;
        width: 400px;
        font-weight: 500;
        text-align: center;
        color: #2E2E2E;
        margin-top: 20px;
    }
    p{
        font-size: 16px;
        width: 450px;
        text-align: center;
        color: #2E2E2E;
        margin-top: -20px;
        line-height: 125%;
    }
    }
    h3{
        font-size: 20px;
    }
}