:root {
    --cor--sombra: 0 5rem 10rem rgba(0, 0, 0, 0.2);
}
html{
    font-size: 62.5%;
}

#Saveit-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(155deg, #F0ECE1 63%,#504f4f 100%);
    margin-top: -7rem;


    h1{
        margin: 0;
        padding: 0;
        margin: 0 auto;
        font-size: 50rem;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 15%;
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 50%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
        letter-spacing: -3rem;
    }
    p{
        width: 50rem;
        margin: 0;
        padding-top: 73.5rem;
        margin-left: 12rem;
        color: rgba(46, 46, 46, 0.85);
        font-size: 2.5rem;
    }
    #svgcelular{
        width: 59rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0%;
    }
    #foia1{
        width: 52rem;
        position: absolute;
        left: 80%;
        transform: translateX(-40%);
        bottom: 4%;
    }
    #foia2{
        width: 48rem;
        position: absolute;
        left: 12%;
        transform: translateX(-50%);
        bottom: 25%;
    }
    #foia3{
        width: 38rem;
        position: absolute;
        left: 100%;
        transform: translateX(-100%);
        bottom: 45%;
    }
}
#Saveit-2{
    display: flex;
    gap: 10rem;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-color: #F0ECE1; 
    
    div{
        justify-content: center;
        width: 39.5rem;
        h2{
            font-size: 4.8rem;
            color: #6B8E4E;
            text-align: center;
        }
        p{
            font-size: 2.2rem;
            margin-top: -0.5rem;
            text-align: center;
            color: #2E2E2E;
        }
    }
}
#Saveit-3{
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-color: #F0ECE1; 
    justify-items: center;

    h1{
        margin: 0;
        font-size: 5rem;
        width: 60rem;
        text-align: center;
        color: #2E2E2E;
        font-weight: 700;
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
    }
    #divzona{
        display: flex;
        margin-top: 10rem;
        gap: 7rem;
    }
    .divs{
        background-color: rgb(255, 255, 255, 0.50);
        width: 55rem;
        height: 30rem;
        border-radius: 2rem;
        justify-items: center;
        box-shadow: var(--cor--sombra);

        h2{
        font-size: 5rem;
        margin-top: -0.5rem;
        color: #6B8E4E;
    }
    h3{
        font-size: 2.5rem;
        width: 40rem;
        font-weight: 500;
        text-align: center;
        color: #2E2E2E;
        margin-top: 2rem;
    }
    p{
        font-size: 1.6rem;
        width: 45rem;
        text-align: center;
        color: #2E2E2E;
        margin-top: -2rem;
        line-height: 125%;
    }
    }
    h3{
        font-size: 2rem;
    }
}
#disc{
    margin-top: -12px;
    position: absolute;
    width: 1px;
            color: #323232;

}