#Saveit-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(155deg, #F0ECE1 63%,#504f4f 100%);
    margin-top: -70px;


    h1{
        margin: 0;
        padding: 0;
        margin: 0 auto;
        font-size: 500px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 15%;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        background: linear-gradient(135deg, #405d49 0%, #6b8e4e 50%);
        background-clip: text;
        -webkit-background-clip: clip;
        -webkit-text-fill-color: transparent;
        letter-spacing: -30px;
    }
    p{
        width: 500px;
        margin: 0;
        padding-top: 735px;
        margin-left: 120px;
        color: rgba(46, 46, 46, 0.85);
        font-size: 25px;
    }
    #svgcelular{
        width: 590px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0%;
    }
    #foia1{
        width: 520px;
        position: absolute;
        left: 80%;
        transform: translateX(-40%);
        bottom: 4%;
    }
    #foia2{
        width: 480px;
        position: absolute;
        left: 12%;
        transform: translateX(-50%);
        bottom: 25%;
    }
    #foia3{
        width: 380px;
        position: absolute;
        left: 100%;
        transform: translateX(-100%);
        bottom: 45%;
    }
}