:root {
  --cor--sombra: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
html {
  font-size: 62.5%;
}

#Saveit-1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(155deg, #f0ece1 63%, #504f4f 100%);
  margin-top: -7rem;

  h1 {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    font-size: 50rem;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    background: linear-gradient(135deg, #405d49 0%, #6b8e4e 50%);
    background-clip: text;
    -webkit-background-clip: clip;
    -webkit-text-fill-color: transparent;
    letter-spacing: -3rem;
  }
  p {
    width: 50rem;
    margin: 0;
    padding-top: 73.5rem;
    margin-left: 12rem;
    color: rgba(46, 46, 46, 0.85);
    font-size: 2.5rem;
  }
  #svgcelular {
    width: 59rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
  }
  #folha1 {
    width: 52rem;
    position: absolute;
    left: 80%;
    transform: translateX(-40%);
    bottom: 4%;
  }
  #folha2 {
    width: 48rem;
    position: absolute;
    left: 12%;
    transform: translateX(-50%);
    bottom: 25%;
  }
  #folha3 {
    width: 38rem;
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    bottom: 45%;
  }
}
#Saveit-2 {
  display: flex;
  gap: 10rem;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background-color: #f0ece1;

  div {
    justify-content: center;
    width: 39.5rem;
    h2 {
      font-size: 4.8rem;
      color: #6b8e4e;
      text-align: center;
    }
    p {
      font-size: 2.2rem;
      margin-top: -0.5rem;
      text-align: center;
      color: #2e2e2e;
    }
  }
}
#Saveit-3 {
  justify-content: center;
  width: 100%;
  height: 70vh;
  background-color: #f0ece1;
  justify-items: center;

  h2 {
    margin: 0;
    margin-bottom: -3rem;
    font-size: 5rem;
    width: 60rem;
    text-align: center;
    color: #2e2e2e;
    font-weight: 700;
    background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
    background-clip: text;
    -webkit-background-clip: clip;
    -webkit-text-fill-color: transparent;
  }
  #divzona {
    display: flex;
    margin-top: 10rem;
    gap: 7rem;
  }
  .divs {
    background-color: rgb(255, 255, 255, 0.5);
    width: 55rem;
    height: 32rem;
    border-radius: 2rem;
    justify-items: center;
    box-shadow: var(--cor--sombra);
    transition: 0.3s ease;

    h4 {
      font-size: 5rem;
      margin-top: -0.5rem;
      color: #6b8e4e;
    }
    h3 {
      font-size: 2.5rem;
      width: 40rem;
      font-weight: 500;
      text-align: center;
      color: #2e2e2e;
      margin-top: 2rem;
    }
    p {
      font-size: 1.6rem;
      width: 45rem;
      text-align: center;
      color: #2e2e2e;
      margin-top: -2rem;
      line-height: 125%;
    }

    &:hover {
      transform: translateY(-2rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }
  h3 {
    font-size: 2rem;
  }
}
#Saveit-4 {
  width: 100%;
  height: 100vh;
  background-color: #f0ece1;

  h2{
    margin: 0;
    padding-top: 100px;
    padding-left: 65px;
    font-size: 6.5rem;
    width: 60rem;
    text-align: center;
    color: #2e2e2e;
    font-weight: 700;
    background: linear-gradient(135deg, #405d49 0%, #6b8e4e 75%);
    background-clip: text;
    -webkit-background-clip: clip;
    -webkit-text-fill-color: transparent;
  }
  #span1{
      display: flex;
      gap: 100px;
      margin-left: 100px;
    }
    
  .antes{
    margin-top: 100px;
    width: 420px;
    background-color: #f0ece1;
    justify-items: center;
    border-radius: 50px;

    h3{
        color: #f0ece1;
        margin: 10px;
        font-size: 3rem;
    }
    
  }
  .antes{
    display: none;
  }
  .depois{
    width: 700px;
    height: 500px;
    border-radius: 35px;
    background-color: #f0ece1;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);


    &::not(h3){
        display: flex;
    }
  }
  #span2{
    display: flex;
  }

  .clicado {
    margin-left: 100px;
    margin-top: 100px;
    position: relative;
    
    h3{
        padding-top: 10px;
        padding-left: 10px;
        color: #405d49;
        margin: 10px;
        font-size: 4rem;
    }
    p{
        width: 400px;
        font-size: 20px;
        padding-left: 20px;
    }
    img{
        width: 200px;
        position: absolute;
        right: 60px;
        top: 50px;
    }
  }
  #rel, #vi{
    display: none;
  }
}
    