* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #405d49;
    overflow: hidden hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

html {
    font-size: 62.5%;
}

img {
    width: 20rem;
    aspect-ratio: 1/1;
}

@keyframes opacidade {
    0%, 100% {
        opacity: 1;
    }

    50% {
        
    }
}